### Tratamiento de valores nulos en la columan 'Age'

In [21]:
#importar librerias necesarias
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

In [22]:
#cargar el dataset
df2 = pd.read_csv('datos/titanic.csv')#importar dataset
df2.info()#vericar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Codificar variables categóricas
KNN solo trabaja con datos numéricos entonces debemos de convertir la columna Sex a numerico.

In [23]:
label_encoder = LabelEncoder()
df2['Sex_encoded'] = label_encoder.fit_transform(df2['Sex'])#crea una nueva columna con el dato int de la columna 'Sex'
df2.info()#vericar

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Sex_encoded  891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

### Seleccionar las columnas relevantes
seleccionar columnas que podrían estar correlacionadas, como Pclass, Sex_encoded, SibSp, Parch y Fare

In [24]:
features_for_knn = df2[['Pclass', 'Sex_encoded', 'SibSp', 'Parch', 'Fare', 'Age']]

### Aplicar KNNImputer
del algoritmo KNN colgado en la plataforma, sabemos que el best k es 3.

In [25]:
knn_imputer = KNNImputer(n_neighbors=3)
df_imputed = pd.DataFrame(knn_imputer.fit_transform(features_for_knn), columns=features_for_knn.columns)

### Actualizar la columna 'Age'
actualizamos la columna Age del DataFrame original con los valores imputados obtenidos del proceso KNN.

In [26]:
df2['Age'] = df_imputed['Age']

In [27]:
df2.to_csv('titanicKNN-2.csv', index=False)